.mail{
    width: 100%;
    margin-top: 50px;
    background-color: var(--color-bg2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailContainerForm{
    max-width: 50%;
    margin: 20px auto 0 auto;
    align-items: center;
    text-align: center;
}

.mailInputContainer>input{
    font-size: 20px;
    line-height: 28px;
    color: #6b6b6b;
    border: 0;
    border-radius: 3px;
    font-weight: 100;
    padding: 10px;
    width: 65%;
    
}

.mailInputContainer>button{
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
    padding: 0 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    height: 48px;
    color: #fff;
    background-color: #0071c2;
    box-shadow: none;
    flex: 1;
    margin: 0 5px;
}