@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --color-bg: #fff;
  --color-bg2: #003580;
  --color-sub-blue: #0071c2;
  --color-navbar: #003580;
}